<body dir="rtl" style="font-size:x-large; height:1765px;">
    <div style="height:12%;">
        <div style="font-size:xx-large">
            <br /><br />
            ****************************************************************************************
        </div>

        <div style="display:inline-block; float:right; width:50%; text-align:right;">@bsd</div>
        <div style="display:inline-block; float:left; width:50%; text-align:left;">@date</div>
        <br />
        <div style="font-size:50px;  font-family:Amadeus; text-align:center;">@details</div>
        <br />
        <div style="display:inline-block; float:right; width:50%;">@family</div>
        <div style="display:inline-block; float:right; width:50%;">@phone</div>
    </div>
    <div style="height:40%;">
        <br />
        <br />
        <div style="margin-right:57%;">@findTheProducts</div>
        <table border="1" style="border-width:medium; border-style:groove; font-size:x-large;">
            <tr style="background-color:#eeecec; color:gray; font-weight:bold;">
                <th style="width:150px;">@numProd</th>
                <th style="width:450px;">@theProd</th>
                <th style="width:200px;">@supervising</th>
                <th style="width:100px;">@color</th>
                <th style="width:60px;"><b>@arrow</b></th>
                <th style="width:100px;">@whightInKg</th>
                <th style="width:100px;">@priceForUnit</th>
                <th style="width:100px;">@priceForAmount</th>
            </tr>
            @tableValue
        </table>
        <div style="text-align:left; width:30%; float:left; border:solid; display:block; margin-bottom:10px; margin-top:0px;">
            <label><b>@credit/debit: </b></label>-<label>@credit/debitCause </label> : <label>@credit/debitValue</label>
            <br />
            <label>@sumForPay</label>
            <br />
            <label style="margin-left:5px;">@sumForExpenseCovering</label>
        </div>
        <br />
        <br />
    </div>
    <div style="height:25%; ">
        <div style="border:double; margin:5px; margin-top:7px; display:block;">
            <h1 style="font-size:xx-large;text-underline-position:below; margin-right:40%; margin-top:15px;"><u>@remarkTitle</u></h1>

            <ul style="list-style: decimal inside;font-size: xx-large;">
                <li>@remark1</li>
                <li>@remark2</li>
                <li>@remark3</li>
                <li>@remark4</li>
                <li>
                    <u><b>@remark5</b></u><br />
                    <span style="margin-right:5%;">@remark6</span>
                </li>
                <li>@remark7</li>
            </ul>
        </div>
        <br /><br /><br />
    </div>
    <div style="height:20%;">
        <div style="font-size:xx-large; text-align:center;">
            <br />
            <b style="font-family:Amadeus;">
                ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___ _ ___
                <br />
                <br />
                @prodsNotCome
            </b>
        </div>
        <table border="1" style="border-width:medium; border-style:groove; font-size:x-large;">
            <tr style="background-color:#eeecec; color:gray; font-weight:bold;">
                <th style="width:210px;">@numProd</th>
                <th style="width:450px;">@theProd</th>
                <th style="width:210px;">@supervising</th>
                <th style="width:400px;">@remarkNotCome</th>
            </tr>
            @notCome
        </table>
    </div>
    <div style="height:2%; margin-top:10px;">
        <div style="font-size:xx-large; margin:0px;">
            ****************************************************************************************
        </div>
    </div>
</body>